<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/script') %>

    <body style="background-color:powderblue;"></body>
    <br>
    <b>Where Passion Meets Purpose: Explore Our Blog for Engaging Content, Meaningful Insights, and Practical Advice.</b>
</body>
</html>
